<div id="user-{{skill_user.user.id}}"
  class="col-md-4 user">
  <div class="panel panel-default">
    <div id="name" class="panel-heading">{{skill_user.user.nickname}}</div>
    <div class="panel-body">
      <p class="description">{{skill_user.description}}</p>
    </div>
  </div>
</div>
