<div id="user-{{skill_user.user.id}}"
  class="col-md-4 user">
  <div class="panel panel-default">
    <div id="name" class="panel-heading">
      {{#link-to 'user' skill_user.user}}
        {{skill_user.user.nickname}}
      {{/link-to}}
    </div>
    <div class="panel-body">
      <p class="description">{{skill_user.description}}</p>
    </div>
  </div>
</div>
