<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div id="name" class="panel-heading">Edit my account</div>
      <div class="panel-body">
        <div class="list-group">
          {{#em-form model=model}}
          {{em-input canShowErrors=true property="nickname" label="Nickname"
            placeholder="Nickname" class="nickname"}}
          {{em-input canShowErrors=true property="email" label="Email"
            placeholder="Email" class="email"}}
          {{/em-form}}
        </div>
      </div>
    </div>
  </div>
</div>
