{{#each skill_users as |skill_user|}}
  {{#skill-card skill=skill_user edit='edit' delete='delete'}}{{/skill-card}}
{{/each}}

<div class="col-md-4 well">
{{#em-form model=newSkillUser}}
{{select-2
    value=skill
    content=skills
    optionLabelPath="name"
    optionDescriptionPath="description"
    placeholder="Choose your skills"
}}
{{em-input property="description" label="Description"
  placeholder="Description" class="description"}}
{{/em-form}}
</div>
