<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div id="name" class="panel-heading">Skills you are looking for</div>
      <div class="panel-body">
        {{#each skill_users as |skill_user|}}
        {{#skill-card skill_user=skill_user edit='edit' delete='delete'}}{{/skill-card}}
        {{/each}}

        <div class="col-md-4">
          {{#skill-user-form skill_user=newSkillUser all_skills=skills submit='submit'}}{{/skill-user-form}}
        </div>
      </div>
    </div>
  </div>
</div>
