{{#each acquired_skills as |acquired_skill|}}
  {{#skill-card skill=acquired_skill edit='edit' delete='delete'}}{{/skill-card}}
{{/each}}

<div class="col-md-4 well">
{{#em-form model=newSkill}}
{{select-2
    value=skill
    content=skills
    optionLabelPath="name"
    optionDescriptionPath="description"
    placeholder="Choose your skills"
}}
{{em-input property="description" label="Description"
  placeholder="Description" class="description"}}
{{/em-form}}
</div>
