<h2 id="title">Welcome to Ember.js</h2>

{{#if session.isAuthenticated}}
  <a class='signout' {{action 'invalidateSession'}}>Signout</a>
{{else}}
  {{#link-to 'signin'}}Signin{{/link-to}}
{{/if}}

{{outlet}}
