<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div id="name" class="panel-heading">Sin In</div>
      <div class="panel-body">
        {{#em-form model=model}}
        <div class="email">
          <label class="control-label">Email</label>
          {{input type="text" value=email class="form-control email" placeholder="Email"}}
        </div>
        <div class="password">
          <label class="control-label">Password</label>
          {{input type="password" value=password class="form-control password" placeholder="Password"}}
        </div>
        {{/em-form}}
      </div>
    </div>
  </div>
</div>
