{{#em-form model=model}}
<div class="email">
  <label class="control-label">Email</label>
  {{input type="text" value=email class="form-control email" placeholder="Email"}}
</div>
<div class="password">
  <label class="control-label">Password</label>
  {{input type="password" value=password class="form-control password" placeholder="Password"}}
</div>
{{/em-form}}
