<div id="skill">
  <div id="name">{{model.name}}</div>
  {{#link-to 'skill.skill-users' model 0 class="show_acquired_users"}}
    Show users with this skill
  {{/link-to}}
  {{#link-to 'skill.skill-users' model 1 class="show_searched_users"}}
    Show users who search this skill
  {{/link-to}}
  {{outlet}}
</div>
