{{model.nickname}}
<ul>
  <li>{{#link-to 'user.edit'}}Edit my account{{/link-to}}</li>
  <li>{{#link-to 'user.searched-skills'}}Skills you are looking for{{/link-to}}</li>
  <li>{{#link-to 'user.acquired-skills'}}Skills you want to share{{/link-to}}</li>
  <li>{{#link-to 'user.matches'}}Show users that match with you{{/link-to}}</li>
</ul>
{{outlet}}
