{{model.nickname}}
<ul>
  <li>{{#link-to 'user.edit'}}Edit my account{{/link-to}}</li>
  <li>{{#link-to 'user.choose-searched-skills'}}Choose skills you are looking for{{/link-to}}</li>
  <li>{{#link-to 'user.choose-acquired-skills'}}Choose skills you want to share{{/link-to}}</li>
  <li>{{#link-to 'user.matches'}}Show users that match with you{{/link-to}}</li>
</ul>
{{outlet}}
