<div class="jumbotron">
  <h1>Social Learning</h1>
  <p>Enlarge your skills</p>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Meets passionate people</h3>
      </div>
      <div class="panel-body">
        <p>
          You want to learn something, you can meet someone who have this
          knowledge and who is ready to speak to you.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Share your knowledge</h3>
      </div>
      <div class="panel-body">
        <p>Persons are interested by what you know. Share it with them an live
        an amazing experience.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Grow your network</h3>
      </div>
      <div class="panel-body">
        <p>The more people you meet, the more contact you have. You can
        socialize with persons who are intersted by the same things than
        you.</p>
      </div>
    </div>
  </div>
</div>
